@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding: 2em;
    font-family: 'Sansita Swashed', cursive;
    font-size: 700;
    background-color: whitesmoke;
}

header h1{
    text-align: center;
    font-size: 2.5em;
}

body{
    background-image: url('https://revistadigital.inesem.es/idiomas/files/2016/10/bookcase-books-bookshelf-1166657-1020x680.jpg');
}

.wrapper{
    margin: 0 20%; 
}

.wrapper .areaSaveTask, .wrapper .areaSearchTask, article{
    padding: 3% 10%;
    background-color: whitesmoke;
    border: 1px solid grey;
    
}

.btnErase{
    
    width: 25%;
    display: inline-block;
   
}
.divTit{
   
    width: 75%;
    display: inline-block;
}




select{
    margin: 0 6em;
}



.red{
    background-color: tomato;
}

.green{
    background-color: lime;
}

.blue{
    background-color: lightskyblue;
}



h2{
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    display: inline-block;
   
}



