@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding: 2em;
    font-family: 'Sansita Swashed', cursive;
    font-size: 700;
    background-color: whitesmoke;
}

header h1{
    text-align: center;
    font-size: 2.5em;
}

body{
    background-image: url('https://revistadigital.inesem.es/idiomas/files/2016/10/bookcase-books-bookshelf-1166657-1020x680.jpg');
}

.wrapper{
    margin: 0 15%; 
}

.wrapper .areaSaveTask, .wrapper .areaSearchTask{
    padding: 3% 15%;
    background-color: whitesmoke;
    border: 2px solid black;
    
}

input{
    margin-right: 10em;
}

button{
    margin-left: 5em;
}

.red{
    background-color: tomato;
}

.green{
    background-color: lime;
}

.blue{
    background-color: lightskyblue;
}